h1, h2, h3, h4, h5, h6{
    margin: 0;
}

*{
    font-family: 'Comfortaa', sans-serif;
    color: #202020;


}

a{
    text-decoration: none;
    color: #000;
}


body{
    margin: 0;
    overflow-x: hidden;
}


.logo h1{
    font-family: 'Protest Riot', sans-serif;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

.header-inner{
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-link{
    color: #6c757d;
}

.nav-link:hover{
    color: #000;
    transition: .5s;
}


.intro-inner{
    background-image: url("background.png");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro-name{
    font-size: 72px;
    color: #fff;
    text-align: center;
}

.intro-description{
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    text-align: center;
}


.sponsor-btn{
    padding: 10px 20px;
    background-color: #426CEB;
    color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    transition: .5s;
}

.sponsor-btn:hover{
    background-color: #fff;
    color: #426CEB;
    border: 1px solid #426CEB;
    transition: .5s;
}


.roomer-photo{
    width: 300px;
    height: 250px;
}

.roomers{
    margin-top: 40px;
}

.roomers-header{
    font-weight: 400;
    text-align: center;
    
}

.roomers-line{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.roomer-name{
    font-size: 20px;
    margin-top: 10px;
}

.more-roomers{
    margin-top: 40px;
}

.more-roomers-inner{
    background-image: url("back2.png");
    height: 40vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.more-roomers-header{
    text-align: center;
}

.morecats-btn, .feedback-btn{
    padding: 10px 20px;
    background-color: #426CEB;
    color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}


.morecats-btn:hover{
    background-color: #fff;
    color: #426CEB;
    border: 1px solid #426CEB;
    transition: .5s;
}

.about{
    margin-top: 40px;
}


.about-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text{
    font-size: 18px;
}

.about-header{
    font-size: 36px;
}

.about-photo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.home-photo{
    width: 300px;
    height: 200px;
}


.about-photo-carousel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    position: relative;
    transition: all ease .5s;
    left: 0;
    z-index: -1;
}


.prev, .next{
    cursor: pointer;
    font-size: 36px;
}


.slider{
    display: flex;
    overflow: hidden;
}


.sposnsors-block{
    margin-top: 40px;
    display: flex;
    background-image: url("sponsorsback.png");
    background-repeat: no-repeat;
    background-position: center;
}

.sponsors-block-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0;
}

.sponsors-header{
    color: #fff;
    text-align: center;
    word-wrap: normal;
}


.sponsors-text{
    color: #fff;
    width: 600px;
    text-align: center;
}


.footer{
    
    background-color: #202020;
}


.footer-header{
    color: #fff;
}

.footer-adress{
    color: #fff;
}


.left-footer{
    padding-top: 20px;
}

.left-footer p{
    margin: 0;
    margin-top: 20px;
}


.right-footer{
    padding: 20px;
}

.footer-inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

svg circle{
    fill: #fff;
}

svg path{
    fill: #fff;
}

.footer-adress{
    display: flex;
    align-items: center; 
    gap: 10px;
}













.logo-block-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.logo-name-about{
    font-family: 'Protest Riot', sans-serif;
    font-size: 56px;
}

.decr-text{
    font-family: "Verdana";
}


.gallery-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}

.gallery{
    margin-bottom: 40px;
}



.blog-intro{
    background-image: url("background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.blog-intro-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

}

.intro-blog-header{
    color: #fff;
    font-size: 46px;
    text-align: center;
    max-width: 1000px;
    margin-bottom: 60px;
}

.blog-intro-text{
    color: #cccccc;
    text-align: center;
    font-size: 24px;
    margin: 10px;
    max-width: 1000px;
}



.blog{
    margin-top: 40px;
    margin-bottom: 40px;
}

.article-name{
    font-size: 36px;
    display: flex;
    justify-content: center;
}


.blog-inner{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    margin-top: 40px;
    row-gap: 40px;
}


.article-text{
    font-family: "Verdana";
}

.aritcle-photo{
    max-width: 100%;
}



.cat-photo{
    width: 300px;
    height: 200px;
}


.catalog{
    margin-top: 40px;
}

.catolog-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-inner{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.help{
    margin-top: 40px;
}
.help-header{
    display: flex;
    align-items: center;
    justify-content: center;
}


.help-inner{
    display: flex;
    align-items: center;
    justify-content: center;
 
}



.giveaway-inner{
    display: flex;
    justify-content: center;
}

.giveaway{
    margin-top: 40px;
}

.giveaway-header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}



.rights-side{
    padding-top: 40px;
}


.qua{
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #cccccc;
    cursor: pointer;
    margin-top: 20px;
    
}


.qua-block{
    margin-bottom: 20px;
}

.answer-block{
    overflow: hidden;
    height: 0;
    transition: ease .5s;
    transition: 0.3s cubic-bezier(1, 0, 1, 0);
}

.answer-block.open-answer{
    height: auto;
    padding: 10px;
    overflow: visible;
    border: 1px solid #cccccc;
    transition: 0.3s cubic-bezier(0, 1, 0, 1); 
}






/* adaptation */
.header__burger-btn{
    position: absolute;
    display: none;
    width: 40px;
    height: 40px;
    border: none;
    background: #fff;
    z-index: 10000;
    top: 15px;
}


.header__burger-btn span{
    position: absolute;
    width: 30px;
    height: 3px;
    background: #202020;
    left: 5px;
    transition: transform.5s, opacity .5s;
}

.header__burger-btn span:nth-child(1){
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3){
    transform: translateY(10px);
}

.header.open .header__burger-btn span:nth-child(2){
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}



@media (max-width: 620px) {
    .roomers-line{
        justify-content: center;
        gap: 20px;
    }


    .sponsors-text{
        width: auto;
    }
}

@media (max-width: 800px){

    .header__burger-btn{
        display: block;
    }


    .header-inner{
        justify-content: end;
        height: 10vh;
        align-items: center;
    }

    .logo{
        font-size: 25px;
    }
    
    .nav{
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        background: #fff;
        /* padding: 20px 20px 20px 20px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: transform .5s;
        margin: 0 !important;
        transition: all .6s;
        overflow: hidden;

    }


    .nav-link{
        color: #202020;
        font-weight: 900;
        font-size: 21px;
        padding: 10px 0;
    }

    .nav-link:hover{
        color: #202020;
    }

    .nav.open {
        width: 100%;
        transition: all .6s;
    }

}






@media (max-width: 800px){
    .intro-blog-header{
        font-size: 32px;
        margin-bottom: 20px;
    }

    .blog-intro-text{
        font-size: 16px;
    }


    .blog-inner{
        grid-template-columns: 100%;
        justify-content: center;
    }


    .question-img{
        display: none;
    }
    

    .help-inner{
        justify-content: center;
        flex-wrap: wrap;
    }
}